<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<array>
			<string>Addison Road-Seat Pleasant</string>
			<string>92</string>
			<array>
				<string>Blue</string>
			</array>
		</array>
		<array>
			<string>Anacostia</string>
			<string>85</string>
			<array>
				<string>Green</string>
			</array>
		</array>
		<array>
			<string>Archives-Navy Memorial-Penn Quarter</string>
			<string>81</string>
			<array>
				<string>Green</string>
				<string>Yellow</string>
			</array>
		</array>
		<array>
			<string>Arlington Cemetery</string>
			<string>42</string>
			<array>
				<string>Blue</string>
			</array>
		</array>
	</array>
	<key>B</key>
	<array>
		<array>
			<string>Ballston-MU</string>
			<string>99</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Benning Road</string>
			<string>90</string>
			<array>
				<string>Blue</string>
			</array>
		</array>
		<array>
			<string>Bethesda</string>
			<string>12</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Braddock Road</string>
			<string>47</string>
			<array>
				<string>Blue</string>
				<string>Yellow</string>
			</array>
		</array>
		<array>
			<string>Branch Ave</string>
			<string>89</string>
			<array>
				<string>Green</string>
			</array>
		</array>
		<array>
			<string>Brookland-CUA</string>
			<string>27</string>
			<array>
				<string>Red</string>
			</array>
		</array>
	</array>
	<key>C</key>
	<array>
		<array>
			<string>Capitol Heights</string>
			<string>91</string>
			<array>
				<string>Blue</string>
			</array>
		</array>
		<array>
			<string>Capitol South</string>
			<string>59</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Cheverly</string>
			<string>66</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Clarendon</string>
			<string>97</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Cleveland Park</string>
			<string>8</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>College Park-U of MD</string>
			<string>79</string>
			<array>
				<string>Green</string>
			</array>
		</array>
		<array>
			<string>Columbia Heights</string>
			<string>75</string>
			<array>
				<string>Green</string>
				<string>Yellow</string>
			</array>
		</array>
		<array>
			<string>Congress Heights</string>
			<string>86</string>
			<array>
				<string>Green</string>
			</array>
		</array>
		<array>
			<string>Court House</string>
			<string>96</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Crystal City</string>
			<string>45</string>
			<array>
				<string>Blue</string>
				<string>Yellow</string>
			</array>
		</array>
	</array>
	<key>D</key>
	<array>
		<array>
			<string>Deanwood</string>
			<string>65</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Dunn Loring-Merrifield</string>
			<string>102</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Dupont Circle</string>
			<string>6</string>
			<array>
				<string>Red</string>
			</array>
		</array>
	</array>
	<key>E</key>
	<array>
		<array>
			<string>East Falls Church</string>
			<string>100</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Eastern Market</string>
			<string>60</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Eisenhower Avenue</string>
			<string>49</string>
			<array>
				<string>Yellow</string>
			</array>
		</array>
	</array>
	<key>F</key>
	<array>
		<array>
			<string>Farragut North</string>
			<string>4</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Farragut West</string>
			<string>38</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Federal Center SW</string>
			<string>58</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Federal Triangle</string>
			<string>53</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Foggy Bottom-GWU</string>
			<string>40</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Forest Glen</string>
			<string>32</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Fort Totten</string>
			<string>28</string>
			<array>
				<string>Green</string>
				<string>Yellow</string>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Franconia-Springfield</string>
			<string>95</string>
			<array>
				<string>Blue</string>
			</array>
		</array>
		<array>
			<string>Friendship Heights</string>
			<string>11</string>
			<array>
				<string>Red</string>
			</array>
		</array>
	</array>
	<key>G</key>
	<array>
		<array>
			<string>Gallery Pl-Chinatown</string>
			<string>21</string>
			<array>
				<string>Green</string>
				<string>Yellow</string>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Georgia Ave-Petworth</string>
			<string>76</string>
			<array>
				<string>Green</string>
				<string>Yellow</string>
			</array>
		</array>
		<array>
			<string>Glenmont</string>
			<string>34</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Greenbelt</string>
			<string>80</string>
			<array>
				<string>Green</string>
			</array>
		</array>
		<array>
			<string>Grosvenor-Strathmore</string>
			<string>14</string>
			<array>
				<string>Red</string>
			</array>
		</array>
	</array>
	<key>H</key>
	<array>
		<array>
			<string>Huntington</string>
			<string>50</string>
			<array>
				<string>Yellow</string>
			</array>
		</array>
	</array>
	<key>J</key>
	<array>
		<array>
			<string>Judiciary Square</string>
			<string>23</string>
			<array>
				<string>Red</string>
			</array>
		</array>
	</array>
	<key>K</key>
	<array>
		<array>
			<string>King Street</string>
			<string>48</string>
			<array>
				<string>Blue</string>
				<string>Yellow</string>
			</array>
		</array>
	</array>
	<key>L</key>
	<array>
		<array>
			<string>L&apos;Enfant Plaza</string>
			<string>82</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
				<string>Green</string>
				<string>Yellow</string>
			</array>
		</array>
		<array>
			<string>Landover</string>
			<string>67</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Largo Town Center</string>
			<string>109</string>
			<array>
				<string>Blue</string>
			</array>
		</array>
	</array>
	<key>M</key>
	<array>
		<array>
			<string>McPherson Square</string>
			<string>36</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Medical Center</string>
			<string>13</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Metro Center</string>
			<string>1</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Minnesota Ave</string>
			<string>64</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Morgan Boulevard</string>
			<string>110</string>
			<array>
				<string>Blue</string>
			</array>
		</array>
		<array>
			<string>Mt Vernon Sq 7th St-Convention Center</string>
			<string>70</string>
			<array>
				<string>Green</string>
				<string>Yellow</string>
			</array>
		</array>
	</array>
	<key>N</key>
	<array>
		<array>
			<string>Navy Yard</string>
			<string>84</string>
			<array>
				<string>Green</string>
			</array>
		</array>
		<array>
			<string>Naylor Road</string>
			<string>87</string>
			<array>
				<string>Green</string>
			</array>
		</array>
		<array>
			<string>New Carrollton</string>
			<string>68</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>New York Ave-Florida Ave-Gallaudet U</string>
			<string>108</string>
			<array>
				<string>Red</string>
			</array>
		</array>
	</array>
	<key>P</key>
	<array>
		<array>
			<string>Pentagon</string>
			<string>43</string>
			<array>
				<string>Blue</string>
				<string>Yellow</string>
			</array>
		</array>
		<array>
			<string>Pentagon City</string>
			<string>44</string>
			<array>
				<string>Blue</string>
				<string>Yellow</string>
			</array>
		</array>
		<array>
			<string>Potomac Ave</string>
			<string>61</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Prince George&apos;s Plaza</string>
			<string>78</string>
			<array>
				<string>Green</string>
			</array>
		</array>
	</array>
	<key>R</key>
	<array>
		<array>
			<string>Rhode Island Ave-Brentwood</string>
			<string>26</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Rockville</string>
			<string>17</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Ronald Reagan Washington National Airport</string>
			<string>93</string>
			<array>
				<string>Blue</string>
				<string>Yellow</string>
			</array>
		</array>
		<array>
			<string>Rosslyn</string>
			<string>41</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
			</array>
		</array>
	</array>
	<key>S</key>
	<array>
		<array>
			<string>Shady Grove</string>
			<string>18</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Shaw-Howard U</string>
			<string>72</string>
			<array>
				<string>Green</string>
				<string>Yellow</string>
			</array>
		</array>
		<array>
			<string>Silver Spring</string>
			<string>31</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Smithsonian</string>
			<string>54</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Southern Avenue</string>
			<string>107</string>
			<array>
				<string>Green</string>
			</array>
		</array>
		<array>
			<string>Stadium-Armory</string>
			<string>63</string>
			<array>
				<string>Blue</string>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Suitland</string>
			<string>88</string>
			<array>
				<string>Green</string>
			</array>
		</array>
	</array>
	<key>T</key>
	<array>
		<array>
			<string>Takoma</string>
			<string>29</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Tenleytown-AU</string>
			<string>10</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Twinbrook</string>
			<string>16</string>
			<array>
				<string>Red</string>
			</array>
		</array>
	</array>
	<key>U</key>
	<array>
		<array>
			<string>U Street/African-Amer Civil War Memorial/Cardozo</string>
			<string>73</string>
			<array>
				<string>Green</string>
				<string>Yellow</string>
			</array>
		</array>
		<array>
			<string>Union Station</string>
			<string>25</string>
			<array>
				<string>Red</string>
			</array>
		</array>
	</array>
	<key>V</key>
	<array>
		<array>
			<string>Van Dorn Street</string>
			<string>94</string>
			<array>
				<string>Blue</string>
			</array>
		</array>
		<array>
			<string>Van Ness-UDC</string>
			<string>9</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Vienna/Fairfax-GMU</string>
			<string>103</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>Virginia Square-GMU</string>
			<string>98</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
	</array>
	<key>W</key>
	<array>
		<array>
			<string>Waterfront-SEU</string>
			<string>83</string>
			<array>
				<string>Green</string>
			</array>
		</array>
		<array>
			<string>West Falls Church-VT/UVA</string>
			<string>101</string>
			<array>
				<string>Orange</string>
			</array>
		</array>
		<array>
			<string>West Hyattsville</string>
			<string>77</string>
			<array>
				<string>Green</string>
			</array>
		</array>
		<array>
			<string>Wheaton</string>
			<string>33</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>White Flint</string>
			<string>15</string>
			<array>
				<string>Red</string>
			</array>
		</array>
		<array>
			<string>Woodley Park-Zoo/Adams Morgan</string>
			<string>7</string>
			<array>
				<string>Red</string>
			</array>
		</array>
	</array>
</dict>
</plist>
